@import url('https://fonts.googleapis.com/css?family=Playpen+Sans&display=swap');

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    background-color: #F2F3F5;
    font-family: 'Playpen Sans', 'Times New Roman', Arial;
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #D1001F;
    height: 70px;
    margin-bottom: 30px;
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    align-self: center;
}

.header-text {
    justify-content: center;
}

.resize {
    font-family: 'Playpen Sans', Arial;
    background-color: green;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.5vw;
    font-weight: bold;
    color: white;
}

.resize:hover {
    cursor:pointer;
}

.game-container {
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
}