@import url('https://fonts.googleapis.com/css?family=Playpen+Sans&display=swap');

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F2F3F5;
    font-family: 'Playpen Sans', 'Times New Roman', Arial;
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #D1001F;
    height: 70px;
    margin-bottom: 30px;
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.main-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    align-self: center;
}

.header-text {
    align-self: center;
}

.resize {
    font-family: 'Playpen Sans', Arial;
    background-color: green;
    padding: 10px;
    border: 2px solid lightgreen;
    border-radius: 5px;
    font-size: 1.5vw;
    font-weight: bold;
    color: white;
}

.resize:hover {
    cursor:pointer;
}

.game-container {
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
}

.choose-colour {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 110px;
    width: 100%;
    border: 3px solid black;
    border-radius: 15px;
}

.color {
    height: 90px;
    width: 90px;
}

.white {
    border-radius: 15px;
    background-color: white;
}
.black {
    border-radius: 15px;
    background-color: black;
}
.brown {
    border-radius: 15px;
    background-color: brown;
}
.purple {
    border-radius: 15px;
    background-color: #4C00B0;
}
.dark-blue {
    border-radius: 15px;
    background-color: #00008B;
}
.light-blue {
    border-radius: 15px;
    background-color: lightblue;
}
.dark-green {
    border-radius: 15px;
    background-color: green;
}
.light-green {
    border-radius: 15px;
    background-color: lightgreen;
}
.orange {
    border-radius: 15px;
    background-color: orange;
}
.yellow {
    border-radius: 15px;
    background-color: yellow;
}
.red {
    border-radius: 15px;
    background-color: #D1001F;
}
.pink {
    border-radius: 15px;
    background-color: pink;
}

